 /* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Variáveis de Fonts */
:root {
    --fonte-menu: "Noto Sans", sans-serif;
    --fonte-titulo: "Playfair", serif;
    --fonte-sub: "Noto Serif", serif;
}

/* Variaveis Cores */
:root {
    --cor-destaque:#8216e7;
    --cor-padrao:#fffefe;
}

/* Fontes utilizadas */

/* Conversão REM - PX */

html {
    font-size: 62.5%;
}

/* Reset CSS - Padronizar os navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

/* Body */
body {
    background-color: white;
    display: flex;
}
/* Header */
header {
    display: flex;
    background-color: lightblue;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* Nav */

.menu-desktop {
    display: none;
    justify-content: center;
    align-items: center;
}

/* .menu = UL */
.menu {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* HRef */

.menu-link {
    text-decoration: none;
}

.menu-texto {
    color: var(--cor-padrao);
    text-transform: capitalize;
    font-size: 2rem;
    font-family: var(--fonte-menu);
    font-weight: 500;
}

/* Herança */

.menu-link.active .menu-texto,
.menu-link:hover .menu-texto{
    color: var(--cor-destaque);
}


/* Responsivo */
/* A partir de telas grandes */
@media (min-width:768px) {

    header {
        padding: 1rem 6rem;
    }

    .menu-desktop {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: auto;
    }
}