 /* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Variáveis de Fonts */
:root {
    --fonte-menu: "Noto Sans", sans-serif;
    --fonte-titulo: "Playfair", serif;
    --fonte-sub: "Noto Serif", serif;
}

/* Variaveis Cores */
/* Tema Dark */
:root, 
:root[data-theme='dark'] {

    --cor-fundo: #1c1f30;
    --cor-fundo-secundaria: #312f52;
    --cor-menu: #4b5251;
    --cor-titulo: #ebe3e3;
    --cor-txt: #d8d2d2;
    --cor-icones: #1d3172;
    --hover-icon: #fff;
    --hover: #95cfcf;

    --icon-theme: #EFBF04;

}   

/* Tema Light */

:root[data-theme='light'] {

    --cor-fundo: #e9e3e3;
    --cor-fundo-secundaria: #cac7c7;
    --cor-menu: #8b8383;
    --cor-titulo: #1b1b1b; 
     --cor-txt: #995219;
    --cor-icones: #bbaeae;
    --hover: #310404;
    --hover-icon: #fff;

    --icon-theme: #010029;

}

/* Filtro Cor do Logo */
html[data-theme='dark'] .logo {
    filter: invert(1);
}

/* Fontes utilizadas */

/* Conversão REM - PX */

html {
    font-size: 62.5%;
}

/* Reset CSS - Padronizar os navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

/* Body */
body {
    background-color: var(--cor-fundo-secundaria);
}
/* Header */
header {
    display: flex;
    background-color: var(--cor-fundo);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* Nav */

.menu-desktop {
    display: none;
    justify-content: center;
    align-items: center;
}

/* .menu = UL */
.menu {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* HRef */

.menu-link {
    text-decoration: none;
}

.menu-texto {
    color: var(--cor-menu);
    text-transform: capitalize;
    font-size: 2rem;
    font-family: var(--fonte-menu);
    font-weight: 500;
}

/* Herança */

.menu-link.active .menu-texto,
.menu-link:hover .menu-texto{
    color: var(--hover);
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.header-toggle {
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--icon-theme);
}

/* Hero - home */

h1 {
    color: var(--cor-titulo);
    font-size: 2.5rem;
    font-family: var(--fonte-titulo);
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

strong {
    color: purple;
    font-family: var(--fonte-titulo);
    font-weight: bold;
}

p {
    color: var(--cor-txt);
    font-size: 1.8rem;
    font-family: var(--fonte-menu);
}
/* Redes sociais */

.menu-social {
    display: flex;
    list-style: none;
    gap: 1.2rem;
    padding: 0;
}

.menu-social .social-icon {
    color: var(--cor-icones);
    font-size: 3rem;
}
.menu-social .social-icon:hover {
    color: var(--hover-icon);
    transition: ease-in-out .5s;
}

/* Carrossel */

/* Estrutura dos 3 slides */
/* Altura hero tela cheia */
.carousel .carousel-item {
    height: 40vh;
    min-height: 600px;
}

/* Tamanho das imagens */

.carousel .carousel-item img, 
.carousel .carousel-item .ratio {
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

/* Responsivo */
/* A partir de telas grandes */
@media (min-width:768px) {

    header {
        padding: 1rem 6rem;
    }

    .menu-desktop {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: auto;
    }
}
